@page "/editwindow/{Id}"
@using SOMSBlazorApp.Shared

@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime


<h2>Add Window</h2>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="FirstName"> Window Name *</label>
            <input form="FirstName" class="form-control" @bind="@window.WindowName" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="LastName"> Quantity *</label>
            <input form="LastName" class="form-control" @bind="@window.QuantityOfElement" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="Email"> Select Order *</label>
            <select for="Publisher" class="form-control"
                    @bind="@window.OrderId">
                <option value=0 disabled selected hidden>
                    [Select Order]
                </option>
                @foreach (var item in orders)
                {
                    <option value="@item.Id">
                        @item.OrderName
                    </option>
                }
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <input type="button" class="btn btn-primary" @onclick="@Save" value="Save" />
            <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    Window window = new Window();
    List<Order> orders = new List<Order>();

    protected override async Task OnInitializedAsync()
    {
        window = await Http.GetFromJsonAsync<Window>("api/window/" + Id);

        var response = await Http.GetAsync("api/order");
        response.EnsureSuccessStatusCode();
        orders = await response.Content.ReadFromJsonAsync<List<Order>>();
        
    }
    protected async Task Save()
    {
        var response = await Http.PutAsJsonAsync("api/window/" + Id, @window);
        bool windowResponse = await response.Content.ReadFromJsonAsync<bool>();
        if (windowResponse)
        {
            await JsRuntime.InvokeVoidAsync("alert", "Updated Successfully!");
            NavigationManager.NavigateTo("windowlist");
        }

    }
    void Cancel()
    {
        NavigationManager.NavigateTo("windowlist");
    }

}

